@charset "UTF-8";
body {
  font-family: "";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.blog__title {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.blog__wrap {
  padding: 0px 20px;
  padding: 0rem 1.25rem;
  background-color: #111;
}
.btn__wrap {
  padding-top: 10px;
  padding-top: 0.625rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
  background-color: #333;
  border: 1px solid #fff;
}
.btn__wrap p {
  color: #fff;
  text-align: center;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__badge--text {
  position: absolute;
  z-index: 2;
  top: -10px;
  top: -0.625rem;
  left: -7px;
  left: -0.4375rem;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__badge {
  position: relative;
}
.card__badge::after {
  content: "";
  position: absolute;
  top: -28px;
  top: -1.75rem;
  left: -19px;
  left: -1.1875rem;
  width: 0;
  height: 0;
  z-index: 1;
  border-width: 30px;
  border-width: 1.875rem;
  border-style: solid;
  border-color: #ffba6a;
  border-radius: 50%;
}
.card__body--small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__body {
  background-color: #fff;
  padding-top: 4px;
  padding-top: 0.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__category {
  background-color: #ffea2e;
}
.card__category p {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  line-height: 1.857;
  color: #000000;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__datetime {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  line-height: 1.857;
  color: #333333;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__explain {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  line-height: 1.857;
  color: #333333;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__img--wrap {
  position: relative;
  padding-top: 66.567%;
  overflow: hidden;
}
.card__img {
  position: absolute;
  top: 0%;
  width: 100%;
  -webkit-transform: translatey(0);
          transform: translatey(0);
  -webkit-transition: 0.75s;
  transition: 0.75s;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__link {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__link:hover .card__title,
.card__link:hover .card__explain,
.card__link:hover .card__datetime {
  color: #fff;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__link:hover .card__body {
  background-color: #333;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__link:hover .card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__title {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  line-height: 1.944;
  color: #333333;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .cards__col3 > .cards__item {
    width: 31.9795330988%;
    margin-right: 2.02%;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .cards__col3 > .cards__item:nth-of-type(3n) {
    margin-right: 0rem;
  }
}
@media screen and (min-width: 768px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=styles.css.map */
